## Imports

In [45]:
import pandas as pd
import numpy as np
import re
import os
import folium
import geopandas as gpd
import glob
from datetime import datetime, timedelta

## Data Read-in

In [46]:
csv_files = glob.glob('*.csv')

df_list = []

for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    df_list.append(df)
    
df = pd.concat(df_list,ignore_index=True)

print(len(df))

2984

In [47]:
BC_gf = gpd.read_file('countyboundary')

## Previous month's values

Get values from here:

https://docs.google.com/spreadsheets/d/1GWlqTIzCB29pDVDjd-iBVejVGGsLiAd0P6fq4LM83WI/edit?usp=sharing

In [48]:
total_condos_sold_2nd_month = 829
sales_volume_2nd_month = 286_000_000
median_sales_price_2nd_month = 245_000
median_psf_2nd_month = 235

## Data Clean

In [49]:
df = df.rename(columns={'URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)':'URL'})

In [50]:
df = df.dropna(subset=['SOLD DATE'])

In [51]:
# Get the current date
current_date = datetime.now()

# Calculate the first day of the current month
first_day_of_current_month = current_date.replace(day=1)

# Get the last day of the previous month by subtracting one day from the first day of the current month
last_day_of_previous_month = first_day_of_current_month - timedelta(days=1)

# Get the month name of the previous month
previous_month_name = last_day_of_previous_month.strftime("%B")

# ---- Get the name of the month, as a string, from two months ago.
# ---- Meaning, if the current month is January, return November.

# Get the first day of the previous month by subtracting one day from the first day of the current month
first_day_of_previous_month = first_day_of_current_month - timedelta(days=1)

# Get the first day of the month before the last by subtracting one day from the first day of the previous month
first_day_of_month_before_last = first_day_of_previous_month.replace(day=1) - timedelta(days=1)

# Get the month name of the month before the last
month_before_last_name = first_day_of_month_before_last.strftime("%B")

print(f'Report month: {previous_month_name} ---- Month before report month: {month_before_last_name}')

Report month: December ---- Month before report month: November

In [52]:
# Define list of desired months (excluding current month)
desired_months = [previous_month_name]

# Filter DataFrame to include only entries from desired months
df_filtered = df[df['SOLD DATE'].str.split('-', expand=True)[0].isin(desired_months)]

# Reset the index
df_filtered = df_filtered.reset_index(drop=True)

In [53]:
# Data checks
print(df_filtered['PRICE'].isna().value_counts())
print('-------')
print(df_filtered['$/SQUARE FEET'].isna().value_counts())
print('-------')
print(df_filtered['YEAR BUILT'].isna().value_counts())
print('-------')

PRICE
False    820
Name: count, dtype: int64
-------
$/SQUARE FEET
False    798
True      22
Name: count, dtype: int64
-------
YEAR BUILT
False    820
Name: count, dtype: int64
-------

In [54]:
sorted_df = df_filtered.sort_values(by='YEAR BUILT', ascending=False)
second_newest_building = sorted_df.iloc[2]
print(second_newest_building['URL'])

https://www.redfin.com/FL/Hollywood/1938-Jackson-St-33020/unit-406/home/186922800

In [55]:
df_filtered.loc[df_filtered['PRICE'] == '0']

Empty DataFrame
Columns: [SALE TYPE, SOLD DATE, PROPERTY TYPE, ADDRESS, CITY, STATE OR PROVINCE, ZIP OR POSTAL CODE, PRICE, BEDS, BATHS, LOCATION, SQUARE FEET, LOT SIZE, YEAR BUILT, DAYS ON MARKET, $/SQUARE FEET, HOA/MONTH, STATUS, NEXT OPEN HOUSE START TIME, NEXT OPEN HOUSE END TIME, URL, SOURCE, MLS#, FAVORITE, INTERESTED, LATITUDE, LONGITUDE]
Index: []

[0 rows x 27 columns]

In [56]:
df_filtered['PRICE'] = pd.to_numeric(df_filtered['PRICE'])
df_filtered['$/SQUARE FEET'] = pd.to_numeric(df_filtered['$/SQUARE FEET'])
df_filtered['YEAR BUILT'] = pd.to_numeric(df_filtered['YEAR BUILT'])
df_filtered['LATITUDE'] = pd.to_numeric(df_filtered['LATITUDE'])
df_filtered['LONGITUDE'] = pd.to_numeric(df_filtered['LONGITUDE'])

In [57]:
df_filtered = df_filtered.drop_duplicates().reset_index(drop=True)

In [58]:
df_filtered.sort_values(by='PRICE',ascending=True).head(20)

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,...,STATUS,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL,SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE
530,PAST SALE,December-28-2023,Condo/Co-op,1001 Hillcrest Ct #208,Hollywood,FL,33021.0,135.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Hollywood/1001-Hillc...,Beaches MLS,F10375064,N,Y,26.000553,-80.191947
486,PAST SALE,December-8-2023,Condo/Co-op,2700 W Sunrise Lakes Dr #105,Sunrise,FL,33322.0,47509.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Sunrise/2700-W-Sunri...,Beaches MLS,F10406334,N,Y,26.158777,-80.256046
501,PAST SALE,December-11-2023,Condo/Co-op,4299 NW 16th St #307,Lauderhill,FL,33313.0,75000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Lauderhill/4299-NW-1...,Beaches MLS,F10403301,N,Y,26.146463,-80.206728
525,PAST SALE,December-15-2023,Condo/Co-op,3110 Holiday Springs Blvd #111,Margate,FL,33063.0,80000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Margate/3110-Holiday...,Beaches MLS,RX-10906829,N,Y,26.263697,-80.233664
493,PAST SALE,December-15-2023,Condo/Co-op,8220 SW 24th St #4310,North Lauderdale,FL,33068.0,84000.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/North-Lauderdale/822...,Beaches MLS,F10406088,N,Y,26.197838,-80.238316
484,PAST SALE,December-12-2023,Condo/Co-op,128 Harwood J #128,Deerfield Beach,FL,33442.0,84500.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Deerfield-Beach/128-...,MARMLS,A11487356,N,Y,26.306687,-80.135351
510,PAST SALE,December-3-2023,Condo/Co-op,6301 N Falls Circle Dr #106,Lauderhill,FL,33319.0,85000.0,1.0,2.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Lauderhill/6301-N-Fa...,Beaches MLS,F10399223,N,Y,26.176921,-80.234658
498,PAST SALE,December-29-2023,Condo/Co-op,2871 E Sunrise Lakes Dr #212,Sunrise,FL,33322.0,90000.0,2.0,2.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Sunrise/2871-E-Sunri...,Beaches MLS,F10406313,N,Y,26.160570,-80.254033
478,PAST SALE,December-18-2023,Condo/Co-op,2793 NW 104th Ave #206,Sunrise,FL,33322.0,90000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Sunrise/2793-NW-104t...,Beaches MLS,RX-10925032,N,Y,26.160121,-80.288192
495,PAST SALE,December-8-2023,Condo/Co-op,2061 NW 47th Ter #215,Lauderhill,FL,33313.0,90000.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Lauderhill/2061-NW-4...,MARMLS,A11441425,N,Y,26.152069,-80.213221
480,PAST SALE,December-11-2023,Condo/Co-op,298 Oakridge Q #298,Deerfield Beach,FL,33442.0,90000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Deerfield-Beach/298-...,Beaches MLS,F10402888,N,Y,26.306270,-80.140112
474,PAST SALE,December-8-2023,Condo/Co-op,2017 Cambridge A,Deerfield Beach,FL,33442.0,90000.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Deerfield-Beach/2017...,Beaches MLS,RX-10930542,N,Y,26.313875,-80.131663
490,PAST SALE,December-13-2023,Condo/Co-op,8240 SW 24th St #5104,North Lauderdale,FL,33068.0,90000.0,2.0,2.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/North-Lauderdale/824...,Beaches MLS,F10407129,N,Y,26.197923,-80.238792
527,PAST SALE,December-26-2023,Condo/Co-op,5851 NW 62nd Ave #105,Tamarac,FL,33319.0,92000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Tamarac/5851-NW-62nd...,Beaches MLS,F10389426,N,Y,26.197025,-80.233517
477,PAST SALE,December-7-2023,Condo/Co-op,4851 NW 21st St #507,Lauderhill,FL,33313.0,93500.0,2.0,2.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Lauderhill/4851-NW-2...,MARMLS,A11472916,N,Y,26.153009,-80.215618
528,PAST SALE,December-12-2023,Condo/Co-op,531 Durham S #531,Deerfield Beach,FL,33442.0,94000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Deerfield-Beach/531-...,Beaches MLS,F10386929,N,Y,26.316357,-80.139072
494,PAST SALE,December-12-2023,Condo/Co-op,186 Lyndhurst M #186,Deerfield Beach,FL,33442.0,95000.0,1.0,1.5,...,Sold,NaN,NaN,https://www.redfin.com/FL/Deerfield-Beach/186-...,Beaches MLS,F10398160,N,Y,26.309391,-80.136390
489,PAST SALE,December-11-2023,Condo/Co-op,2851 Somerset Dr #408,Lauderdale Lakes,FL,33311.0,97000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Lauderdale-Lakes/285...,MARMLS,A11478632,N,Y,26.160094,-80.191604
506,PAST SALE,December-14-2023,Condo/Co-op,2750 W Golf Blvd #136,Pompano Beach,FL,33064.0,98000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Pompano-Beach/2750-W...,Beaches MLS,F10401024,N,Y,26.264788,-80.127163
513,PAST SALE,December-1-2023,Condo/Co-op,1206 Bahama Bnd Unit D1,Coconut Creek,FL,33066.0,98000.0,1.0,1.0,...,Sold,NaN,NaN,https://www.redfin.com/FL/Coconut-Creek/1206-B...,Beaches MLS,F10396938,N,Y,26.247012,-80.173317

In [59]:
print(df_filtered['URL'].iloc[486])

https://www.redfin.com/FL/Sunrise/2700-W-Sunrise-Lakes-Dr-33322/unit-105/home/41607460

In [60]:
# Correct the prices, if needed
df_filtered.at[530,'PRICE']=(135_000)

# Correct the psf, if needed
df_filtered.at[530,'$/SQUARE FEET']=(135_000/690)

In [61]:
### If needed, drop the row with the lowest price
# min_value_index = df_filtered['PRICE'].idxmin()
# df_filtered = df_filtered.drop(min_value_index)

In [62]:
# Find problem psf by searching for low values
df_filtered.sort_values(by='$/SQUARE FEET',ascending=True).head(20)[['PRICE','ADDRESS','CITY','$/SQUARE FEET']]

        PRICE                         ADDRESS              CITY  $/SQUARE FEET
486   47509.0    2700 W Sunrise Lakes Dr #105           Sunrise           74.0
490   90000.0           8240 SW 24th St #5104  North Lauderdale           78.0
477   93500.0            4851 NW 21st St #507        Lauderhill           79.0
499  117000.0          3771 Environ Blvd #252        Lauderhill           90.0
510   85000.0     6301 N Falls Circle Dr #106        Lauderhill           91.0
495   90000.0           2061 NW 47th Ter #215        Lauderhill           97.0
493   84000.0           8220 SW 24th St #4310  North Lauderdale           99.0
523  120000.0        2404 Antigua Cir Unit M3     Coconut Creek          104.0
680  210000.0             7400 Radice Ct #509        Lauderhill          106.0
498   90000.0    2871 E Sunrise Lakes Dr #212           Sunrise          106.0
263  145000.0          2607 NW 104th Ave #206           Sunrise          106.0
514  104000.0         9091 Lime Bay Blvd #211           Tamarac          109.0
525   80000.0  3110 Holiday Springs Blvd #111           Margate          111.0
519  112000.0     6085 N Sabal Palm Blvd #308           Tamarac          112.0
228  130000.0           2571 Aragon Blvd #220           Sunrise          112.0
517  110000.0          4172 Inverrary Dr #103        Lauderhill          113.0
483  105000.0       1015 Country Club Dr #304           Margate          113.0
520  108000.0            4898 NW 29th Ct #207  Lauderdale Lakes          113.0
291  126000.0            5860 NW 44th St #305        Lauderhill          115.0
255  134500.0     1704 Andros Isle(s) Unit F1     Coconut Creek          116.0

In [63]:
# # Drop sales that aren't condos but labeled as such
# df_filtered = df_filtered.drop(1320)

## Make Maps

In [64]:
### Create a price column formatted as currency ###
df_filtered['PRICE_AS_CURRENCY'] = df_filtered['PRICE'].apply(lambda x: "${:,.0f}".format(x))
### Set formatting for Beds, Baths ###
df_filtered['YEAR BUILT DISPLAY'] = df_filtered['YEAR BUILT'].apply(lambda x: '{:.0f}'.format(x))
df_filtered['PRICE_SQUARE_FEET_AS_CURRENCY'] = df_filtered['$/SQUARE FEET'].apply(lambda x: '${:,.0f}'.format(x))

In [65]:
df_filtered = df_filtered.sort_values(by=['PRICE'], ascending=False)
### Insert different colors for top 10 sales vs. the rest ###
df_filtered['COLOR'] = ''
### Create RANK column ###
df_filtered['RANK'] = 0
### Insert RANK values ###
df_filtered['RANK'] = range(1, len(df_filtered) + 1)
# use numpy to assign values to the 'COLOR' column
df_filtered['COLOR'] = np.where(df_filtered['RANK'] <= 10, 'orange', 'blue')

## HTML Popup Formatter

In [66]:
### Define list of columns to drop from DF ###
columns_drop = ['SALE TYPE','PROPERTY TYPE','STATE OR PROVINCE','ZIP OR POSTAL CODE','HOA/MONTH','STATUS','NEXT OPEN HOUSE START TIME','NEXT OPEN HOUSE END TIME','SOURCE','MLS#','FAVORITE','INTERESTED','SQUARE FEET','LOT SIZE']

In [67]:
### Drop the columns ###
df_filtered = df_filtered.drop(columns=columns_drop)

In [68]:
def popup_html(row):
    Price = row['PRICE_AS_CURRENCY']
    Address = row['ADDRESS']
    City = row['CITY']
    sold_date = row['SOLD DATE']
    beds = row['BEDS']
    baths = row['BATHS']
    psf = row['PRICE_SQUARE_FEET_AS_CURRENCY']
    year_built = row['YEAR BUILT DISPLAY']
    rank = row['RANK']
    
    html = '''<!DOCTYPE html>
    <html>
    <strong>Price: </strong>{}'''.format(Price) + '''<br>
    <strong>Address: </strong>{}'''.format(Address) + '''<br>
    <strong>City: </strong>{}'''.format(City) + '''<br>
    <strong>Sold: </strong>{}'''.format(sold_date) + '''<br>
    <strong>Beds: </strong>{}'''.format(beds) + '''<br>
    <strong>Baths: </strong>{}'''.format(baths) + '''<br>
    <strong>Price per sf: </strong>{}'''.format(psf) + '''<br>
    <strong>Year Built: </strong>{}'''.format(year_built) + '''<br>
    <strong>Price Rank: </strong>{}'''.format(rank) + '''
    </html>
    '''
    return html

In [69]:
### Create map container ###
m = folium.Map(location=df_filtered[["LATITUDE", "LONGITUDE"]].mean().to_list(),zoom_start=10,tiles=None)

### Create title ###
title_html = '''
              <h3 align="center" style="font-size:16px"><b>{}</b></h3>
             '''.format(f"{previous_month_name} 2023 Condo Sales")

m.get_root().html.add_child(folium.Element(title_html))

# Create two FeatureGroups for different color pins
fg_blue = folium.FeatureGroup(name='All other sales')
fg_orange = folium.FeatureGroup(name='Top 10 Sales')

folium.GeoJson(BC_gf,tooltip='Broward County',name='Broward County').add_to(m)

for index, row in df_filtered.iterrows():
    # Add the markers to the appropriate FeatureGroup based on the color
    if row['COLOR'] == 'blue':
        marker = folium.Marker(
            location=[row['LATITUDE'], row['LONGITUDE']],
            radius=5,
            fill=True,
            icon=folium.Icon(color=row['COLOR']),
            popup=folium.Popup(popup_html(row), max_width=400))
        marker.add_to(fg_blue)
    else:
        marker = folium.Marker(
            location=[row['LATITUDE'], row['LONGITUDE']],
            radius=5,
            fill=True,
            icon=folium.Icon(color=row['COLOR']),
            popup=folium.Popup(popup_html(row), max_width=400))
        marker.add_to(fg_orange)

# Add the FeatureGroups to the map
fg_orange.add_to(m)
fg_blue.add_to(m)

folium.TileLayer('OpenStreetMap',control=False).add_to(m)

# Add LayerControl to the map
folium.map.LayerControl(collapsed=False).add_to(m)

# Display map
# m

In [70]:
m.save('index.html')

## Summary Info

In [71]:
BR = '\n'

ME = '\033[1m' + 'Most Expensive' + '\033[0m'
LE = '\033[1m' + 'Least Expensive' + '\033[0m'

MAX_PSF = '\033[1m' + 'Highest Price Per Square Foot' + '\033[0m'
MIN_PSF = '\033[1m' + 'Lowest Price Per Square Foot' + '\033[0m'

Newest = '\033[1m' + 'Newest' + '\033[0m'
Oldest = '\033[1m' + 'Oldest' + '\033[0m'

In [72]:
df_filtered.columns

Index(['SOLD DATE', 'ADDRESS', 'CITY', 'PRICE', 'BEDS', 'BATHS', 'LOCATION',
       'YEAR BUILT', 'DAYS ON MARKET', '$/SQUARE FEET', 'URL', 'LATITUDE',
       'LONGITUDE', 'PRICE_AS_CURRENCY', 'YEAR BUILT DISPLAY',
       'PRICE_SQUARE_FEET_AS_CURRENCY', 'COLOR', 'RANK'],
      dtype='object')

In [73]:
df_filtered['FULL_ADDRESS'] = df_filtered['ADDRESS'] + ' ' + df_filtered['CITY']

In [74]:
print(df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['URL'])

https://www.redfin.com/FL/Hillsboro-Beach/1187-Hillsboro-Mile-33062/unit-4E/home/41515941

In [75]:
print(f"{ME}{BR}{df_filtered.loc[df_filtered['PRICE'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['PRICE'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['PRICE'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['PRICE'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['PRICE'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{LE}{BR}{df_filtered.loc[df_filtered['PRICE'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['PRICE'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['PRICE'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['PRICE'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['PRICE'].idxmin()]['YEAR BUILT']:.0f}")

print(f"{MAX_PSF}{BR}{df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{MIN_PSF}{BR}{df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['YEAR BUILT']:.0f}")

print(f"{Newest}{BR}{df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{Oldest}{BR}{df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['YEAR BUILT']:.0f}")

Most Expensive
Las Olas River House, 333 Las Olas Way Ph 3210 Fort Lauderdale | Price $7,200,000 | $1,042 psf | Year built: 2004
Least Expensive
Sunrisw Lakes Condo, 2700 W Sunrise Lakes Dr #105 Sunrise | Price $47,509 | $74 psf | Year built: 1972
Highest Price Per Square Foot
Four Seasons, 525 N Ft Lauderdale Bch Blvd #1608 Fort Lauderdale | Price $3,200,000 | $1,723 psf | Year built: 2019
Lowest Price Per Square Foot
Sunrisw Lakes Condo, 2700 W Sunrise Lakes Dr #105 Sunrise | Price $47,509 | $74 psf | Year built: 1972
Newest
Solemar Beach Condos, 1116 N Ocean Blvd #1204 Pompano Beach | Price $2,595,000 | $1,133 psf | Year built: 2023
Oldest
Virginia Kaye East, 1187 Hillsboro Mile Unit 4E Hillsboro Beach | Price $850,000 | $567 psf | Year built: 1950

## Map URL Snagger

In [76]:
base_name = 'https://trd-digital.github.io/trd-news-interactive-maps/'

cwd = os.getcwd()

cwd = cwd.split('/')

final_name = base_name + cwd[-1]
print(final_name)

https://trd-digital.github.io/trd-news-interactive-maps/BC_condo_sales_month_ending_dec_2023

## Get Summary Data

In [77]:
print('SALES INFO')
print(f'Number of sales: {len(df_filtered)}')
print('--------')
print(f'Total sale price: ${df_filtered["PRICE"].sum():,.0f}')
print('--------')
print(f'Median sale price: ${df_filtered["PRICE"].median():,.0f}')
print('--------')
print(f'Max sale price: ${df_filtered["PRICE"].max():,.0f}')
print('--------')
print(f'Min sale price: ${df_filtered["PRICE"].min():,.0f}')
print('------------------------------------------------')
print('PSF INFO')
print(f'Max price per square foot: ${df_filtered["$/SQUARE FEET"].max():,.0f}')
print('--------')
print(f'Min price per square foot: ${df_filtered["$/SQUARE FEET"].min():,.0f}')
print('--------')
print(f'Median price per square foot: ${df_filtered["$/SQUARE FEET"].median():,.0f}')
print('------------------------------------------------')
print('CONDO AGES')
print(f'Newest building: {df_filtered["YEAR BUILT"].max()}')
print('----------')
print(f'Oldest building: {df_filtered["YEAR BUILT"].min()}')
print('----------')
print(f'Average building age: {df_filtered["YEAR BUILT"].mean()}')

SALES INFO
Number of sales: 738
--------
Total sale price: $255,630,664
--------
Median sale price: $240,000
--------
Max sale price: $7,200,000
--------
Min sale price: $47,509
------------------------------------------------
PSF INFO
Max price per square foot: $1,723
--------
Min price per square foot: $74
--------
Median price per square foot: $236
------------------------------------------------
CONDO AGES
Newest building: 2023.0
----------
Oldest building: 1950.0
----------
Average building age: 1980.9322493224931

In [78]:
most_expensive_muni_condo_name = df_filtered.loc[df_filtered['PRICE'].idxmax()]['LOCATION']
most_expensive_muni_location = df_filtered.loc[df_filtered['PRICE'].idxmax()]['CITY']

least_expensive_muni_condo_name = df_filtered.loc[df_filtered['PRICE'].idxmin()]['LOCATION']
least_expensive_muni_location = df_filtered.loc[df_filtered['PRICE'].idxmin()]['CITY']

# GENERATE STORY TEMPLATE

# STOP! DID YOU UPDATE VALUES FROM THE PREVIOUS MONTH?

In [79]:
## Calculate the increase/descrease between both months
subject_month_sales_volume = df_filtered["PRICE"].sum()
prior_month_sales_volume = sales_volume_2nd_month  # Example value, replace with actual value

subject_month_closings = len(df_filtered)
prior_month_closings = total_condos_sold_2nd_month

# Subtract the smaller value from the larger one
if subject_month_sales_volume > prior_month_sales_volume:
    hed_rf = 'rises'
    nut_graf = 'rising'
elif prior_month_sales_volume > subject_month_sales_volume:
    hed_rf = 'falls'
    nut_graf = 'falling'
else:
    hed_rf = 'equals'
    nut_graf = 'equaling'
    
    
if subject_month_closings > prior_month_closings:
    dek_rf = 'rises'
elif prior_month_closings > subject_month_closings:
    dek_rf ='falls'
else:
    dek_rf = 'equals'

In [80]:
story_string = f'''
\033[1mHED:\033[0m Broward County condo sales volume {hed_rf} in {previous_month_name} to ${round(df_filtered["PRICE"].sum()/1_000_000)}M 
\033[1mDEK:\033[0m Number of closings {dek_rf} to {len(df_filtered)} in {previous_month_name} from {total_condos_sold_2nd_month} in {month_before_last_name}
\033[1mFEATURED HED:\033[0m
\033[1mSEO HED:\033[0m Broward County {previous_month_name} Condo Sales Report 
\033[1mSEO DESCRIPTION:\033[0m Broward County’s condo sales volume {hed_rf} to ${round(df_filtered["PRICE"].sum()/1_000_000)} million in {previous_month_name}.
\033[1mAUTHOR:\033[0m Adam Farence
\033[1mRESEARCH:\033[0m 
\033[1mSocial:\033[0m Broward County had ${round(df_filtered["PRICE"].sum()/1_000_000)} million in condo sales in {previous_month_name}, {hed_rf} from ${round(sales_volume_2nd_month/1_000_000)} million from {month_before_last_name}, @afarence reports 
ART: 

CHANGE ME

*Please provide credits for any images that you share
\033[1mSTORY TYPE:\033[0m Report
\033[1mSECTOR\033[0m (formerly CATEGORY): Residential Real Estate
\033[1mTAGS:\033[0m condo sales, Broward County, monthly condo sales, condos, condo market, {most_expensive_muni_condo_name.title()}, {most_expensive_muni_location}

\033[1mNeighborhood:\033[0m 
\033[1mProperty:\033[0m
\033[1mProperty Type:\033[0m
\033[1mCompanies:\033[0m 
\033[1mPeople:\033[0m
\033[1mIssues:\033[0m
\033[1mRegion:\033[0m


Broward County’s NEWS PEG HERE.

{previous_month_name} condo sales totaled ${round(df_filtered["PRICE"].sum()/1_000_000)} million, {nut_graf} from ${sales_volume_2nd_month/1_000_000:.0f} million in {month_before_last_name}. Brokers closed {len(df_filtered)} sales last month, down from {total_condos_sold_2nd_month} sales in {month_before_last_name} and XXX in XXX, Multiple Listing Service data from Redfin show.

{previous_month_name} sale prices ranged from ${df_filtered["PRICE"].min():,.0f} to ${df_filtered["PRICE"].max()/1_000_000:.0f} million, with a median sale price of ${df_filtered["PRICE"].median():,.0f}. The price per square foot ranged between ${df_filtered["$/SQUARE FEET"].min():,.0f} to ${df_filtered["$/SQUARE FEET"].max():,.0f}, with a median of ${df_filtered["$/SQUARE FEET"].median():,.0f} per square foot.

In {month_before_last_name}, sales closed with a median price of ${median_sales_price_2nd_month:,}, and ${median_psf_2nd_month} per square foot.

A ${df_filtered["PRICE"].max()/1_000_000:.0f} million closing at {most_expensive_muni_condo_name.title()} took the title of priciest sale last month. {df_filtered.loc[df_filtered['PRICE'].idxmax()]['FULL_ADDRESS']} sold for ${df_filtered.loc[df_filtered['PRICE'].idxmax()]['$/SQUARE FEET']:,.0f} per square foot after XX days on the market. XXX with XXX had the listing, and XXX with XXX represented the buyer.

The sale price was \033[1mmore/less\033[0m than {month_before_last_name}'s priciest sale. WHERE XXXX 

In contrast, {previous_month_name}'s cheapest sale was an {least_expensive_muni_condo_name} in {least_expensive_muni_location}, at {df_filtered.loc[df_filtered['PRICE'].idxmin()]['FULL_ADDRESS']}. Unit XXX traded for ${df_filtered['PRICE'].min():,.0f} — or ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['$/SQUARE FEET']:,.0f} per square foot — after XXX days on the market. XXX with XXX handled both sides of the deal.

<figure>
 <div class="container">
   <div class="iframe-wrap">
   <iframe src="{final_name}" width="100%" height="800" frameBorder="0" scrolling="no"></iframe>
  </div>
</div>
  <figcaption align="right"><a href="https://leafletjs.com/">Leaflet</a> map created by Adam Farence | Data by © <a href="https://www.openstreetmap.org/#map=4/38.01/-95.84"> OpenStreetMap</a>, under <a href="https://www.openstreetmap.org/copyright">ODbl.</a></figcaption>
</figure>

Here’s a breakdown of {previous_month_name}’s notable condo sales:
'''

In [81]:
print(story_string)

print(f"{ME}{BR}{df_filtered.loc[df_filtered['PRICE'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['PRICE'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['PRICE'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['PRICE'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['PRICE'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{LE}{BR}{df_filtered.loc[df_filtered['PRICE'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['PRICE'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['PRICE'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['PRICE'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['PRICE'].idxmin()]['YEAR BUILT']:.0f}")

print(f"{MAX_PSF}{BR}{df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{MIN_PSF}{BR}{df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['YEAR BUILT']:.0f}")

print(f"{Newest}{BR}{df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['LOCATION']}, {df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['YEAR BUILT']:.0f}")
print(f"{Oldest}{BR}{df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['LOCATION']}, {df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['FULL_ADDRESS']} | Price ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['PRICE']:,.0f} | ${df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['$/SQUARE FEET']:,.0f} psf | Year built: {df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['YEAR BUILT']:.0f}")

HED: Broward County condo sales volume falls in December to $256M
DEK: Number of closings falls to 738 in December from 829 in November
FEATURED HED:
SEO HED: Broward County December Condo Sales Report
SEO DESCRIPTION: Broward County’s condo sales volume falls to $256 million in December.
AUTHOR: Adam Farence
RESEARCH:
Social: Broward County had $256 million in condo sales in December, falls from $286 million from November, @afarence reports
ART:

CHANGE ME

*Please provide credits for any images that you share
STORY TYPE: Report
SECTOR (formerly CATEGORY): Residential Real Estate
TAGS: condo sales, Broward County, monthly condo sales, condos, condo market, Las Olas River House, Fort Lauderdale

Neighborhood:
Property:
Property Type:
Companies:
People:
Issues:
Region:


Broward County’s NEWS PEG HERE.

December condo sales totaled $256 million, falling from $286 million in November. Brokers closed 738 sales last month, down from 829 sales in November and XXX in XXX, Multiple Listing Service data from Redfin show.

December sale prices ranged from $47,509 to $7 million, with a median sale price of $240,000. The price per square foot ranged between $74 to $1,723, with a median of $236 per square foot.

In November, sales closed with a median price of $245,000, and $235 per square foot.

A $7 million closing at Las Olas River House took the title of priciest sale last month. 333 Las Olas Way Ph 3210 Fort Lauderdale sold for $1,042 per square foot after XX days on the market. XXX with XXX had the listing, and XXX with XXX represented the buyer.

The sale price was more/less than November's priciest sale. WHERE XXXX

In contrast, December's cheapest sale was an Sunrisw Lakes Condo in Sunrise, at 2700 W Sunrise Lakes Dr #105 Sunrise. Unit XXX traded for $47,509 — or $74 per square foot — after XXX days on the market. XXX with XXX handled both sides of the deal.

<figure>
 <div class="container">
   <div class="iframe-wrap">
   <iframe src="https://trd-digital.github.io/trd-news-interactive-maps/BC_condo_sales_month_ending_dec_2023" width="100%" height="800" frameBorder="0" scrolling="no"></iframe>
  </div>
</div>
  <figcaption align="right"><a href="https://leafletjs.com/">Leaflet</a> map created by Adam Farence | Data by © <a href="https://www.openstreetmap.org/#map=4/38.01/-95.84"> OpenStreetMap</a>, under <a href="https://www.openstreetmap.org/copyright">ODbl.</a></figcaption>
</figure>

Here’s a breakdown of December’s notable condo sales:

Most Expensive
Las Olas River House, 333 Las Olas Way Ph 3210 Fort Lauderdale | Price $7,200,000 | $1,042 psf | Year built: 2004
Least Expensive
Sunrisw Lakes Condo, 2700 W Sunrise Lakes Dr #105 Sunrise | Price $47,509 | $74 psf | Year built: 1972
Highest Price Per Square Foot
Four Seasons, 525 N Ft Lauderdale Bch Blvd #1608 Fort Lauderdale | Price $3,200,000 | $1,723 psf | Year built: 2019
Lowest Price Per Square Foot
Sunrisw Lakes Condo, 2700 W Sunrise Lakes Dr #105 Sunrise | Price $47,509 | $74 psf | Year built: 1972
Newest
Solemar Beach Condos, 1116 N Ocean Blvd #1204 Pompano Beach | Price $2,595,000 | $1,133 psf | Year built: 2023
Oldest
Virginia Kaye East, 1187 Hillsboro Mile Unit 4E Hillsboro Beach | Price $850,000 | $567 psf | Year built: 1950

# Print links for notable sales

## Top sale

In [82]:
print(df_filtered.loc[df_filtered['PRICE'].idxmax()]['URL'])

https://www.redfin.com/FL/Fort-Lauderdale/333-Las-Olas-Way-33301/unit-3210/home/42028562

## Cheapest sale

In [83]:
print(df_filtered.loc[df_filtered['PRICE'].idxmin()]['URL'])

https://www.redfin.com/FL/Sunrise/2700-W-Sunrise-Lakes-Dr-33322/unit-105/home/41607460

## Highest PSF

In [84]:
print(df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmax()]['URL'])

https://www.redfin.com/FL/Fort-Lauderdale/525-N-Fort-Lauderdale-Beach-Blvd-33304/unit-1608/home/145299255

## Lowest PSF

In [85]:
print(df_filtered.loc[df_filtered['$/SQUARE FEET'].idxmin()]['URL'])

https://www.redfin.com/FL/Sunrise/2700-W-Sunrise-Lakes-Dr-33322/unit-105/home/41607460

## Newest

In [86]:
print(df_filtered.loc[df_filtered['YEAR BUILT'].idxmax()]['URL'])

https://www.redfin.com/FL/Pompano-Beach/1116-N-Ocean-Blvd-33062/unit-1204/home/187605253

## Oldest

In [87]:
print(df_filtered.loc[df_filtered['YEAR BUILT'].idxmin()]['URL'])

https://www.redfin.com/FL/Hillsboro-Beach/1187-Hillsboro-Mile-33062/unit-4E/home/41515941

## Time on Market Calculator

In [88]:
from datetime import datetime, timedelta

################ YEAR, MONTH, DAY #######################

date1 = datetime(2023, 11, 8) ## List (Earlier) date
date2 = datetime(2023, 12, 18) ## Close (Later) date

delta = date2 - date1
num_days = delta.days

print(num_days)

40