## Notes

- The goal is to get building permit data for our markets (and across the country) from the U.S. Census Bureau
- I downloaded the master file from the bureau (link below)
- A column with "REP" means the data contained is from a reported source only. A column without "REP", like "BLDGS_1_UNIT", contains estimated data

Data link: https://www2.census.gov/econ/bps/Master%20Data%20Set/

## Imports

In [1]:
import pandas as pd
import numpy as np
import os

## PD Set Options

In [7]:
pd.set_option('display.max_columns',None)

## Data Read-in

In [3]:
pd.read_csv?

In [6]:
df = pd.read_csv("BPS_Compiled_File_202412.csv",dtype='str', encoding_errors='ignore')

In [62]:
df

,BLDGS_1_UNIT,BLDGS_1_UNIT_REP,BLDGS_2_UNITS,BLDGS_2_UNITS_REP,BLDGS_3_4_UNITS,BLDGS_3_4_UNITS_REP,BLDGS_5_UNITS,BLDGS_5_UNITS_REP,CBSA_CODE,CBSA_NAME,CENSUS_PLACE_CODE,CENTRAL_CITY,COUNTY_CODE,COUNTY_NAME,CSA_CODE,DIVISION_CODE,DIVISION_NAME,FILE_NAME,FIPS_COUNTY_5_DIGITS,FIPS_MCD_CODE,FIPS_PLACE_CODE,FOOTNOTE_CODE,ID_6_DIGIT,LOCATION_TYPE,MONCOV,MONTH,NUMBER_OF_MONTHS_REP,PERIOD,PLACE_NAME,UNIQUE_PLACE_ID,POP,REGION_CODE,REGION_NAME,SOURCE_CODE,STATE_CODE,STATE_NAME,SURVEY_DATE,TOTAL_BLDGS,TOTAL_BLDGS_REP,TOTAL_UNITS,TOTAL_UNITS_REP,TOTAL_VALUE,TOTAL_VALUE_REP,UNITS_1_UNIT,UNITS_1_UNIT_REP,UNITS_2_UNITS,UNITS_2_UNITS_REP,UNITS_3_4_UNITS,UNITS_3_4_UNITS_REP,UNITS_5_UNITS,UNITS_5_UNITS_REP,VALUE_1_UNIT,VALUE_1_UNIT_REP,VALUE_2_UNITS,VALUE_2_UNITS_REP,VALUE_3_4_UNITS,VALUE_3_4_UNITS_REP,VALUE_5_UNITS,VALUE_5_UNITS_REP,YEAR,ZIP_CODE,LOCATION_NAME
0,0,NaN,0,NaN,0,NaN,0,NaN,99999,NaN,1140,NaN,045,Dale County,999,6,East South Central Division,so2101c.txt,01045,00000,48400,NaN,329000,Place,NaN,1,NaN,Monthly,Midland City town,01329000,2344,3,South Region,3,01,Alabama,202101,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,2021,36350,Midland City town
1,1,NaN,0,NaN,0,NaN,0,NaN,99999,NaN,1140,NaN,045,Dale County,999,6,East South Central Division,so2102c.txt,01045,00000,48400,NaN,329000,Place,NaN,2,NaN,Monthly,Midland City town,01329000,2344,3,South Region,3,01,Alabama,202102,1,NaN,1,NaN,135000,NaN,1,NaN,0,NaN,0,NaN,0,NaN,135000,NaN,0,NaN,0,NaN,0,NaN,2021,36350,Midland City town
2,1,NaN,0,NaN,0,NaN,0,NaN,99999,NaN,1330,NaN,045,Dale County,999,6,East South Central Division,so2101c.txt,01045,00000,57648,NaN,385000,Place,NaN,1,NaN,Monthly,Ozark,01385000,14907,3,South Region,5,01,Alabama,202101,1,NaN,1,NaN,105692,NaN,1,NaN,0,NaN,0,NaN,0,NaN,105692,NaN,0,NaN,0,NaN,0,NaN,2021,36361,Ozark
3,1,NaN,0,NaN,0,NaN,0,NaN,99999,NaN,1330,NaN,045,Dale County,999,6,East South Central Division,so2102c.txt,01045,00000,57648,NaN,385000,Place,NaN,2,NaN,Monthly,Ozark,01385000,14907,3,South Region,5,01,Alabama,202102,1,NaN,1,NaN,105692,NaN,1,NaN,0,NaN,0,NaN,0,NaN,105692,NaN,0,NaN,0,NaN,0,NaN,2021,36361,Ozark
4,2,0,0,0,0,0,0,0,99999,NaN,NaN,NaN,047,Dallas County,999,6,East South Central Division,so2102y.txt,01047,00000,99990,2,129000,Place,NaN,2,0,Year-to-date,Dallas County Unincorporated Area,01129000,18840,3,South Region,NaN,01,Alabama,202102,2,0,2,0,298830,0,2,0,0,0,0,0,0,0,298830,0,0,0,0,0,0,0,2021,367020987,Dallas County Unincorporated Area
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10859892,2,0,0,0,0,0,0,0,99999,NaN,796,NaN,079,Mineral County,999,8,Mountain Division,we2412y.txt,08079,00000,14765,NaN,147000,Place,NaN,12,0,Year-to-date,City of Creede town,08147000,315,4,West Region,NaN,08,Colorado,202412,2,0,2,0,1441534,0,2,0,0,0,0,0,0,0,1441534,0,0,0,0,0,0,0,2024,81130,City of Creede town
10859893,3,0,0,0,0,0,0,0,99999,NaN,NaN,NaN,079,Mineral County,999,8,Mountain Division,we2412y.txt,08079,00000,99990,NaN,429000,Place,NaN,12,0,Year-to-date,Mineral County Unincorporated Area,08429000,458,4,West Region,NaN,08,Colorado,202412,3,0,3,0,1243990,0,3,0,0,0,0,0,0,0,1243990,0,0,0,0,0,0,0,2024,81130,Mineral County Unincorporated Area
10859894,3,0,0,0,0,0,0,0,44460,NaN,255,NaN,081,Moffat County,999,8,Mountain Division,we2412y.txt,08081,00000,17760,NaN,143000,Place,NaN,12,0,Year-to-date,Craig,08143000,8953,4,West Region,NaN,08,Colorado,202412,3,0,3,0,717000,0,3,0,0,0,0,0,0,0,717000,0,0,0,0,0,0,0,2024,81625,Craig
10859895,0,0,0,0,0,0,0,0,44460,NaN,332,NaN,081,Moffat County,999,8,Mountain Division,we2412y.txt,08081,00000,20495,NaN,177000,Place,NaN,12,0,Year-to-date,Dinosaur town,08177000,334,4,West Region,NaN,08,Colorado,202412,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2024,816100238,Dinosaur town
10859896,15,15,0,0,0,0,0,0,44460,NaN,NaN,NaN,081,Moffat County,999,8,Mountain Division,we2412y.txt,08081,00000,99990,NaN,433000,Place,NaN,12,12,Year-to-date,Moffat County Unincorporated Area,08433000,3857,4,West Region,NaN,08,Colorado,202412,15,15,15,15,4278280,4278280,15,15,0,0,0,0,0,0,4278280,4278280,0,0,0,0,0,0,2024,81625,Moffat County Unincorporated Area

## Data work

In [14]:
df_monthly = df[df['PERIOD'] == 'Monthly']

In [20]:
df_monthly_county = df_monthly[df_monthly['LOCATION_TYPE'] == 'County']

In [24]:
df_monthly_county_year = df_monthly_county[df_monthly_county['YEAR'] == '2024']

In [37]:
keep_columns = ['BLDGS_1_UNIT', 'BLDGS_2_UNITS','BLDGS_3_4_UNITS',
       'BLDGS_5_UNITS','COUNTY_NAME','DIVISION_NAME','MONTH','PERIOD','REGION_NAME',
       'STATE_NAME', 'SURVEY_DATE', 'TOTAL_BLDGS','TOTAL_UNITS','TOTAL_VALUE',
       'UNITS_1_UNIT', 'UNITS_2_UNITS','UNITS_3_4_UNITS',
       'UNITS_5_UNITS', 'VALUE_1_UNIT', 'VALUE_2_UNITS',
       'VALUE_3_4_UNITS', 'VALUE_5_UNITS','YEAR', 'ZIP_CODE', 'LOCATION_NAME']

In [39]:
final_df = df_monthly_county_year[keep_columns]

In [58]:
final_df['COUNTY_STATE_NAME'] = final_df['COUNTY_NAME'] + ', ' + final_df['STATE_NAME']

/var/folders/rq/0_j_rksd7psgdycg9c1qwf6m0000gp/T/ipykernel_76291/128574475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['COUNTY_STATE_NAME'] = final_df['COUNTY_NAME'] + ', ' + final_df['STATE_NAME']

In [47]:
import calendar
final_df['MONTH_NAME'] = final_df['MONTH'].astype(int).apply(lambda x: calendar.month_name[x])

/var/folders/rq/0_j_rksd7psgdycg9c1qwf6m0000gp/T/ipykernel_76291/477860774.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['MONTH_NAME'] = final_df['MONTH'].astype(int).apply(lambda x: calendar.month_name[x])

In [51]:
final_df['MONTH_NAME_YEAR'] = final_df["MONTH_NAME"] + " " + final_df["YEAR"]

/var/folders/rq/0_j_rksd7psgdycg9c1qwf6m0000gp/T/ipykernel_76291/3739681526.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['MONTH_NAME_YEAR'] = final_df["MONTH_NAME"] + " " + final_df["YEAR"]

In [60]:
final_df.to_csv("2024_CB_BuildingPermit_data.csv")

In [59]:
final_df.head(1)

,BLDGS_1_UNIT,BLDGS_2_UNITS,BLDGS_3_4_UNITS,BLDGS_5_UNITS,COUNTY_NAME,DIVISION_NAME,MONTH,PERIOD,REGION_NAME,STATE_NAME,SURVEY_DATE,TOTAL_BLDGS,TOTAL_UNITS,TOTAL_VALUE,UNITS_1_UNIT,UNITS_2_UNITS,UNITS_3_4_UNITS,UNITS_5_UNITS,VALUE_1_UNIT,VALUE_2_UNITS,VALUE_3_4_UNITS,VALUE_5_UNITS,YEAR,ZIP_CODE,LOCATION_NAME,COUNTY_STATE_NAME,MONTH_NAME,MONTH_NAME_YEAR
3208622,4,0,0,0,Swain County,South Atlantic Division,2,Monthly,South Region,North Carolina,202402,4,4,1615000,4,0,0,0,1615000,0,0,0,2024,NaN,Swain County,"Swain County, North Carolina",February,February 2024

In [56]:
final_df.columns

Index(['BLDGS_1_UNIT', 'BLDGS_2_UNITS', 'BLDGS_3_4_UNITS', 'BLDGS_5_UNITS',
       'COUNTY_NAME', 'DIVISION_NAME', 'MONTH', 'PERIOD', 'REGION_NAME',
       'STATE_NAME', 'SURVEY_DATE', 'TOTAL_BLDGS', 'TOTAL_UNITS',
       'TOTAL_VALUE', 'UNITS_1_UNIT', 'UNITS_2_UNITS', 'UNITS_3_4_UNITS',
       'UNITS_5_UNITS', 'VALUE_1_UNIT', 'VALUE_2_UNITS', 'VALUE_3_4_UNITS',
       'VALUE_5_UNITS', 'YEAR', 'ZIP_CODE', 'LOCATION_NAME',
       'COUNTY_STATE_NAME', 'MONTH_NAME', 'MONTH_NAME_YEAR'],
      dtype='object')