# [TRD-4123]

https://therealdeal.atlassian.net/browse/TRD-4123?linkSource=email

## Obj:

Extract NYC data from the snapshot to a JSON file to help speed up the loading of the dashboard snapshot.

## AC:

Extracted data should have the current or latest quarter and the previous quarter’s data.

Extracted data should be saved in the JSON file.

This will support the following widget:

https://trd-digital.github.io/trd-news-interactive-maps/trddata-snapshots/market-cards.html

## Imports

In [56]:
import pandas as pd
import json
import os

## Data Read-in

In [6]:
df = pd.read_csv('TRD Data Snapshots - Snapshot2_0.csv')

In [66]:
len(df)

147144

In [3]:
df.columns

Index(['title', 'display_title', 'value', 'value_date', 'last_updated',
       'date_period', 'Source', 'Source_Link', 'sector', 'dataset_tag',
       'region', 'ranking_priority'],
      dtype='object')

In [7]:
df.head(1)

,title,display_title,value,value_date,last_updated,date_period,Source,Source_Link,sector,dataset_tag,region,ranking_priority
0,"Tallahassee, FL metro area Number of Sales",Number of Sales,79,2/13/2024,2/13/2024,Q4 2023,Redfin,https://www.redfin.com/news/data-center/,Residential,2024 Sales,"Tallahassee, FL metro area",0.0

In [8]:
df.date_period.unique()

array(['Q4 2023', 'Q1 2024', 'Q2 2024', 'Q3 2024', 'Q4 2024', 'Q1 2025'],
      dtype=object)

In [12]:
df.region.unique()

array(['Tallahassee, FL metro area', 'Pickens County, GA',
       'Minidoka County, ID', ..., 'Prairie County, MT',
       'Hayes County, NE', 'Ca��on City, CO metro area'], dtype=object)

In [61]:
mask = (
    (
        df.region.str.contains('New York', case=False, na=False)
        |
        df.region.str.contains('Bronx County, NY', case=False, na=False)
        |
        df.region.str.contains('Queens County, NY', case=False, na=False)
        |
        df.region.str.contains('Richmond County, NY', case=False, na=False)
    )
    & 
    ~df.region.str.contains('metro area', case=False, na=False)
)

filtered_df = df.loc[mask].reset_index(drop=True)

In [62]:
filtered_df.reset_index(inplace=True,drop=True)

In [63]:
filtered_df.region.unique()

array(['Richmond County, NY', 'Bronx County, NY', 'Queens County, NY',
       'New York County, NY', 'New York - Brooklyn',
       'New York - Downtown', 'New York - Midtown',
       'New York – Midtown South', 'New York - Midtown South'],
      dtype=object)

In [65]:
len(filtered_df)

246

In [64]:
filtered_df.to_json("trddata-nyc-snapshots.json")