## Imports

In [31]:
import pandas as pd
import numpy as np
import geopandas as gpd
import os
from shapely import wkt
from shapely.geometry import Point
import googlemaps

## Data Read in

In [19]:
df = pd.read_csv('CHI_agents_data-Table 1.csv',low_memory=False)

In [17]:
df['geometry'].isna().value_counts()

geometry
False    107944
True        271
Name: count, dtype: int64

In [22]:
# Function to convert WKT format to a Point geometry
def to_point(coord):
    try:
        if isinstance(coord, str) and 'POINT' in coord:
            # Use WKT to convert the string into a Point object
            return wkt.loads(coord)
        else:
            return None  # Return None for invalid or missing coordinates
    except Exception as e:
        return None  # Catch any issues

# Apply the conversion to the 'geometry' column
df['geometry'] = df['geometry'].apply(to_point)

# Now convert the DataFrame to a GeoDataFrame
df_geo = gpd.GeoDataFrame(df, geometry='geometry')

In [25]:
df_geo['geometry'].isna().value_counts()

geometry
False    107944
True        271
Name: count, dtype: int64

In [27]:
df_geo['Full_Address'] = df_geo['Address'] + ' ' + df_geo['Location'] + ' Chicago, IL'

In [32]:
# Retrieve the API key
%store -r google_maps_API_Key
gmaps_key = googlemaps.Client(key=google_maps_API_Key)

In [33]:
# Function to geocode an address using googlemaps.Client
def geocode_address_gmaps(address):
    try:
        geocode_result = gmaps_key.geocode(address)
        if geocode_result:
            location = geocode_result[0]['geometry']['location']
            return Point(location['lng'], location['lat'])
        else:
            return None
    except Exception as e:
        print(f"Error geocoding {address}: {e}")
        return None

# Apply geocoding function to rows with null geometry
df_geo['geometry'] = df_geo.apply(
    lambda row: geocode_address_gmaps(row['Full_Address']) if row['geometry'] is None else row['geometry'], 
    axis=1
)

/Users/afarence/opt/anaconda3/lib/python3.9/site-packages/pandas/core/dtypes/cast.py:131: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

In [112]:
# Load the CSV into a regular Pandas DataFrame
alt_df = pd.read_csv('CHI_brokerage_data_fully_geocoded.csv')

# Inspect the column names for duplicates
print(alt_df.columns)

# If multiple "geometry" columns exist, rename or drop them
# Keep the column that actually contains geometry data
if 'geometry' in alt_df.columns:
    alt_df = alt_df.drop_duplicates(subset=['geometry'], keep='first')  # Optional cleanup if needed


if 'geometry' in alt_df.columns:
    alt_gdf = gpd.GeoDataFrame(alt_df)
# # If the geometry is in a different format (e.g., WKT), convert it to GeoDataFrame
# if 'geometry' in alt_df.columns:
#     gdf = gpd.GeoDataFrame(alt_df, geometry=gpd.GeoSeries.from_wkt(alt_df['geometry']), crs="EPSG:4326")
# else:
#     raise ValueError("No valid 'geometry' column found in the file.")

# # `gdf` is now your GeoDataFrame
# print(gdf.head())

Index(['Unnamed: 0', 'mls_id', 'Address', 'Location', 'Zip_Code', 'Price',
       'brokerage_side', 'Final_Brokerage', 'TRD_Note', 'url',
       'brokerage_name', 'brokerage_no.', 'agent', 'SqFt', 'price_per_sq_ft',
       'year_built', 'agent_email', 'geometry', 'data_source_name',
       'within_county', 'Unique', 'Best Match', 'Match?', 'Score',
       'full_address'],
      dtype='object')

/var/folders/rq/0_j_rksd7psgdycg9c1qwf6m0000gp/T/ipykernel_81778/2806458054.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  alt_df = pd.read_csv('CHI_brokerage_data_fully_geocoded.csv')

In [119]:
df_geo

,mls_id,Address,Location,Zip_Code,Price,agent_no,side,agent_name,Final_Agent/Team,Brokerage,url,TRD_Note,geometry,SqFt,price_per_sq_ft,year_built,broker_email,data_source_name,within_county,Full_Address,Price_int
0,11805197,691 Sheridan Rd,Winnetka,60093.0,"$12,500,000",buy_agent_1,buyer,Edward Gobbo,Edward Gobbo,Berkshire Hathaway HomeServices Chicago,https://www.redfin.com/IL/Winnetka/691-Sherida...,NaN,POINT (-87.72767 42.11019),"12,500",$892,2005.0,NaN,MRED as Distributed by MLS Grid,True,"691 Sheridan Rd Winnetka Chicago, IL",12500000
1,11805197,691 Sheridan Rd,Winnetka,60093.0,"$12,500,000",list_agent_1,listing,Jena Radnay,Jena Radnay,@properties Christie's International Real Estate,https://www.redfin.com/IL/Winnetka/691-Sherida...,NaN,POINT (-87.72767 42.11019),"12,500",$892,2005.0,NaN,MRED as Distributed by MLS Grid,True,"691 Sheridan Rd Winnetka Chicago, IL",12500000
2,11761344,445 Sheridan Rd,Winnetka,60093.0,"$12,250,000",buy_agent_1,buyer,Jena Radnay,Jena Radnay,@properties Christie's International Real Estate,https://www.redfin.com/IL/Winnetka/445-Sherida...,NaN,POINT (-87.72114 42.10362),"6,174","$1,866",1918.0,NaN,MRED as Distributed by MLS Grid,True,"445 Sheridan Rd Winnetka Chicago, IL",12250000
3,11761344,445 Sheridan Rd,Winnetka,60093.0,"$12,250,000",list_agent_1,listing,Jena Radnay,Jena Radnay,@properties Christie's International Real Estate,https://www.redfin.com/IL/Winnetka/445-Sherida...,NaN,POINT (-87.72114 42.10362),"6,174","$1,866",1918.0,NaN,MRED as Distributed by MLS Grid,True,"445 Sheridan Rd Winnetka Chicago, IL",12250000
4,11902703,65 E Goethe St Unit 8N,CHI - Near North Side,60670.0,"$9,300,000",buy_agent_1,buyer,Mark Icuss,Icuss Group,Compass,https://www.redfin.com/IL/Chicago/65-E-Goethe-...,NaN,POINT (-87.62623 41.90570),"9,000",$869,2000.0,NaN,MRED as Distributed by MLS Grid,True,65 E Goethe St Unit 8N CHI - Near North Side C...,9300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108210,11876519,6950 S Vernon Ave,CHI - Greater Grand Crossing,60637.0,"$100,000",list_agent_1,listing,William Bates Jr,William Bates Jr,EXIT Strategy Realty,https://www.redfin.com/IL/Chicago/6950-S-Verno...,NaN,POINT (-87.61439 41.76788),NaN,NaN,1922.0,NaN,MRED as Distributed by MLS Grid,True,6950 S Vernon Ave CHI - Greater Grand Crossing...,100000
108211,11875755,9549 S Bensley Ave,Jeffery Manor,60617.0,"$100,000",list_agent_1,listing,Willie Jones,Willie Jones,"Associate Brokers, Inc.",https://www.redfin.com/IL/Chicago/9549-S-Bensl...,NaN,POINT (-87.56323 41.72110),937,$143,1950.0,NaN,MRED as Distributed by MLS Grid,True,"9549 S Bensley Ave Jeffery Manor Chicago, IL",100000
108212,12048029,1640 S Millard Ave,CHI - North Lawndale,60623.0,"$100,000",buy_agent_1,buyer,Wilonda Cannon,Wilonda Cannon,Coldwell Banker Realty,https://www.redfin.com/IL/Chicago/1640-S-Milla...,NaN,POINT (-87.71669 41.85778),NaN,NaN,1907.0,NaN,MRED as Distributed by MLS Grid,True,1640 S Millard Ave CHI - North Lawndale Chicag...,100000
108213,11936457,2144 S Drake Ave,CHI - North Lawndale,60623.0,"$100,000",buy_agent_1,buyer,Xitlali Astudillo,Xitlali Astudillo,Luna Realty Group,https://www.redfin.com/IL/Chicago/2144-S-Drake...,NaN,POINT (-87.71390 41.85221),880,$114,1890.0,NaN,MRED as Distributed by MLS Grid,True,"2144 S Drake Ave CHI - North Lawndale Chicago, IL",100000
108214,11754630,2772 Glenwood Dyer Rd,Lynwood,60411.0,"$100,000",buy_agent_1,buyer,Zeferino Martinez,Zeferino Martinez,RE/MAX 1st Service,https://www.redfin.com/IL/Lynwood/2772-Glenwoo...,NaN,POINT (-87.54934 41.52010),"1,430",$167,1934.0,NaN,MRED as Distributed by MLS Grid,True,"2772 Glenwood Dyer Rd Lynwood Chicago, IL",100000

In [107]:
# Read in neighborhood boundaries
neighborhood_boundaries = gpd.read_file("Boundaries - Community Areas (current).geojson")

# Clean and convert the 'Price' column to integers
df_geo['Price_int'] = df_geo['Price'].str.replace('[\$,]', '', regex=True).astype(int)

# Ensure both GeoDataFrames (df_geo and neighborhood_boundaries) have the same CRS
if df_geo.crs != neighborhood_boundaries.crs:
    df_geo = df_geo.to_crs(neighborhood_boundaries.crs)  # Transform CRS to match

# Perform a spatial join to find which points (brokerages) fall within which community
joined_gdf = gpd.sjoin(df_geo, neighborhood_boundaries, how="inner", predicate='within')

# Group by community and agent/team to calculate counts and total sales
grouped = joined_gdf.groupby(['community', 'Final_Agent/Team']).agg(
    count=('Final_Agent/Team', 'count'),
    total_price=('Price_int', 'sum')
).reset_index()

# Find the agent/team with the highest count for each community
max_count_idx = grouped.groupby("community")['count'].idxmax()
agent_result = grouped.loc[max_count_idx, ['community', 'Final_Agent/Team', 'count', 'total_price']]
agent_result = agent_result.rename(columns={'count': 'agent_count', 'total_price': 'agent_price'})

# Calculate community-level totals
community_result = grouped.groupby('community').agg(
    community_count=('count', 'sum'),
    community_price=('total_price', 'sum')
).reset_index()

# Merge agent results with community-level totals
merged_df = pd.merge(agent_result, community_result, on='community', how='inner')

# Drop unnecessary columns from neighborhood boundaries
columns_to_drop = ['area', 'shape_area', 'perimeter', 'area_num_1', 'area_numbe', 'comarea_id', 'comarea', 'shape_len']
neighborhood_boundaries = neighborhood_boundaries.drop(columns=columns_to_drop, errors='ignore')

# Merge with neighborhood boundaries
final_merge = neighborhood_boundaries.merge(merged_df, on='community')
final_merge = final_merge.rename(columns={'Final_Agent/Team': 'final_agent_team'})

# Save the result to a GeoJSON file
final_merge.to_file("final_merge.geojson", driver='GeoJSON')

## OLD STUFF

In [79]:
# df_geo['Price_int'] = df_geo['Price'].str.replace('$','').str.replace(',','').astype(int)

In [80]:
# # Read in neighborhood boundaries
# neighborhood_boundaries = gpd.read_file("Boundaries - Community Areas (current).geojson")

# # Ensure both GeoDataFrames (df_geo and neighborhood_boundaries) have the same CRS
# if df_geo.crs != neighborhood_boundaries.crs:
#     df_geo = df_geo.to_crs(neighborhood_boundaries.crs)  # Transform CRS to match

# # Perform a spatial join to find which points (brokerages) fall within which community (multipolygon)
# joined_gdf = gpd.sjoin(df_geo, neighborhood_boundaries, how="inner", predicate='within')

# # Group by community and agent/agent team to get the count and sum of sale prices
# grouped = joined_gdf.groupby(['community', 'Final_Agent/Team']).agg(
#     count=('Final_Agent/Team', 'count'),  # Count of how many times an agent or agent team appears
#     total_price=('Price_int', 'sum')         # Sum sale price
# ).reset_index()

# # Now, `grouped` contains the count and total price grouped by community and agent/team

In [83]:
# print(f'${grouped.total_price.sum():,}')

$26,278,358,580

In [84]:
# # Group by 'community' and find the row with the maximum 'count' in each group
# max_count_idx = grouped.groupby("community")['count'].idxmax()

# # Use the indices to retrieve the rows with the highest 'count' in each community
# agent_result = grouped.loc[max_count_idx, ['community','Final_Agent/Team','count','total_price']]

# agent_result = agent_result.rename(columns={'count':'agent_count','total_price':'agent_price'})

In [85]:
# community_result = grouped.groupby('community').agg({'count':'sum','total_price':'sum'})

# community_result = community_result.rename(columns={'count':'community_count','total_price':'community_price'})

In [86]:
# merged_df = pd.merge(left=agent_result, left_on='community', how='inner',
#                      right=community_result, right_on='community')

In [87]:
# neighborhood_boundaries = neighborhood_boundaries.drop(columns=['area', 'shape_area', 'perimeter', 'area_num_1',
#        'area_numbe', 'comarea_id', 'comarea', 'shape_len'])

In [88]:
# final_merge = neighborhood_boundaries.merge(merged_df, on='community')

In [99]:
# final_merge = final_merge.rename(columns={'Final_Agent/Team':'final_agent_team'})

In [103]:
# final_merge.to_file("final_merge.geojson",driver='GeoJSON')

In [102]:
# final_merge.columns

Index(['community', 'geometry', 'final_agent_team', 'agent_count',
       'agent_price', 'community_count', 'community_price'],
      dtype='object')

In [90]:
# final_merge['community_price'].max()

3345481313

In [91]:
# final_merge['community_price'].min()

780000

In [92]:
# final_merge.head(1)

,community,geometry,Final_Agent/Team,agent_count,agent_price,community_count,community_price
0,DOUGLAS,"MULTIPOLYGON (((-87.60914 41.84469, -87.60915 ...",Xiaohuang Wu,6,1457500,231,63789252

In [95]:
# final_merge.columns

Index(['community', 'geometry', 'Final_Agent/Team', 'agent_count',
       'agent_price', 'community_count', 'community_price'],
      dtype='object')

In [77]:
# for i, row in final_merge.iterrows():
#     if row['community_price'] > row['agent_price']:
#         print(f"{row['community']} -- ${row['community_price'] - row['agent_price']:,}")
#         print(f"{row['community']} -- {row['community_price'] / row['community_count']:}%")
#         print(f"{row['Final_Agent/Team']} -- ${row['agent_price'] / row['brokerage_count']:,}")
#         print('------------')
#     else:
#         print('Not great!')

DOUGLAS -- $62,331,752
DOUGLAS -- 276143.94805194804%
Xiaohuang Wu -- $242,916.66666666666
------------
OAKLAND -- $25,834,000
OAKLAND -- 378097.1830985916%
Lane Chesebro -- $336,966.6666666667
------------
FULLER PARK -- $11,842,822
FULLER PARK -- 294591.0%
Roger Valdez -- $265,000.0
------------
GRAND BOULEVARD -- $168,567,482
GRAND BOULEVARD -- 442955.056122449%
Naja Morris -- $563,433.3333333334
------------
KENWOOD -- $137,259,633
KENWOOD -- 469941.3194888179%
Robert Sullivan -- $1,092,444.4444444445
------------
LINCOLN SQUARE -- $557,339,463
LINCOLN SQUARE -- 626392.6255555556%
Biazar Group -- $583,081.8181818182
------------
WASHINGTON PARK -- $25,571,700
WASHINGTON PARK -- 375021.5189873418%
Biazar Group -- $1,013,750.0
------------
HYDE PARK -- $173,981,394
HYDE PARK -- 337016.3384030418%
Jinhong Wang -- $137,050.0
------------
WOODLAWN -- $158,172,766
WOODLAWN -- 430397.56135770236%
Biazar Group -- $741,055.5555555555
------------
ROGERS PARK -- $286,136,868
ROGERS PARK -- 294965.6739562624%
Connie Abels -- $286,448.64864864864
------------
JEFFERSON PARK -- $237,518,984
JEFFERSON PARK -- 444699.88108108105%
Jason O'Beirne -- $844,495.4545454546
------------
FOREST GLEN -- $236,619,996
FOREST GLEN -- 594647.4700239808%
Patty Cerny -- $810,571.3571428572
------------
NORTH PARK -- $113,552,002
NORTH PARK -- 485175.74058577407%
Anthony Rodriguez -- $601,250.0
------------
ALBANY PARK -- $307,245,074
ALBANY PARK -- 458192.8506401138%
Erlend Candea -- $743,225.0
------------
PORTAGE PARK -- $488,461,051
PORTAGE PARK -- 434577.27360988525%
MG Group Chicago -- $489,375.0
------------
IRVING PARK -- $545,614,128
IRVING PARK -- 516064.3789868668%
MG Group Chicago -- $501,166.6666666667
------------
DUNNING -- $302,519,563
DUNNING -- 362755.7229488704%
Antonio Sarmiento -- $365,428.5714285714
------------
MONTCLARE -- $50,281,500
MONTCLARE -- 378480.8823529412%
Maria Gutierrez -- $397,300.0
------------
BELMONT CRAGIN -- $232,223,460
BELMONT CRAGIN -- 377880.35313001607%
Janusz Kulesza -- $456,571.4285714286
------------
WEST RIDGE -- $331,361,447
WEST RIDGE -- 382494.6378923767%
Andrew Glatz -- $517,040.5263157895
------------
HERMOSA -- $68,864,200
HERMOSA -- 417911.90476190473%
Juan Moxthe -- $448,333.3333333333
------------
AVONDALE -- $299,308,484
AVONDALE -- 530218.9947643979%
Lowe Group Chicago -- $643,857.1428571428
------------
LOGAN SQUARE -- $1,287,474,421
LOGAN SQUARE -- 722424.4025470653%
Ben Lalez Team -- $782,911.3636363636
------------
HUMBOLDT PARK -- $237,399,986
HUMBOLDT PARK -- 395360.468852459%
Jason O'Beirne -- $628,316.6666666666
------------
WEST TOWN -- $2,256,610,248
WEST TOWN -- 701417.7118799755%
The Laricy Team -- $658,076.9038461539
------------
AUSTIN -- $353,072,049
AUSTIN -- 329601.41979835014%
Cedrick Hunter -- $383,711.76470588235
------------
WEST GARFIELD PARK -- $49,708,902
WEST GARFIELD PARK -- 279394.06486486486%
Sagar Shah -- $329,833.3333333333
------------
EAST GARFIELD PARK -- $101,140,584
EAST GARFIELD PARK -- 346936.3409836066%
Annette Shelton -- $246,052.63157894736
------------
NEAR WEST SIDE -- $1,309,939,947
NEAR WEST SIDE -- 666045.6467592593%
The Sheahan Group -- $2,475,358.653846154
------------
NORTH LAWNDALE -- $118,758,285
NORTH LAWNDALE -- 309164.4117647059%
Sagar Shah -- $354,166.6666666667
------------
UPTOWN -- $662,561,033
UPTOWN -- 424127.9499683344%
Ben Lalez Team -- $396,500.0
------------
SOUTH LAWNDALE -- $77,567,953
SOUTH LAWNDALE -- 290882.6043956044%
Luis Ortiz -- $263,285.4285714286
------------
LOWER WEST SIDE -- $139,979,871
LOWER WEST SIDE -- 503031.01748251746%
Biazar Group -- $555,285.7142857143
------------
NEAR SOUTH SIDE -- $542,210,633
NEAR SOUTH SIDE -- 462731.7820408163%
Nadine Ferrata -- $665,832.4324324324
------------
ARMOUR SQUARE -- $39,395,200
ARMOUR SQUARE -- 429203.0303030303%
QianKun Chen -- $343,988.8888888889
------------
NORWOOD PARK -- $351,358,376
NORWOOD PARK -- 416623.5560693642%
Lisa Sanders -- $474,789.4736842105
------------
NEAR NORTH SIDE -- $3,279,136,894
NEAR NORTH SIDE -- 589616.0227352837%
The Laricy Team -- $502,609.23484848486
------------
LOOP -- $1,037,361,315
LOOP -- 555504.6345951629%
The Laricy Team -- $436,556.8181818182
------------
SOUTH SHORE -- $117,613,409
SOUTH SHORE -- 280708.2131147541%
Frank Montro -- $249,888.66666666666
------------
CHATHAM -- $100,270,784
CHATHAM -- 252852.86848635235%
Scott Berg -- $325,784.4
------------
AVALON PARK -- $34,583,481
AVALON PARK -- 242681.37671232875%
Lisa Foster -- $282,666.6666666667
------------
SOUTH CHICAGO -- $73,261,070
SOUTH CHICAGO -- 230080.40247678017%
Frank Montro -- $210,980.0
------------
BURNSIDE -- $7,362,000
BURNSIDE -- 232756.75675675675%
Anthony Hardy -- $625,000.0
------------
MCKINLEY PARK -- $58,446,072
MCKINLEY PARK -- 392815.7452229299%
Qizhong Guan -- $358,444.44444444444
------------
LAKE VIEW -- $2,230,279,254
LAKE VIEW -- 610629.276330076%
Grigory Pekarsky -- $428,422.22222222225
------------
CALUMET HEIGHTS -- $74,307,284
CALUMET HEIGHTS -- 238287.4106583072%
Frank Montro -- $284,400.0
------------
ROSELAND -- $136,522,224
ROSELAND -- 213984.5069124424%
Frank Montro -- $213,976.15384615384
------------
NORTH CENTER -- $646,377,483
NORTH CENTER -- 688149.6998961578%
Leigh Marcus Properties -- $741,394.4545454546
------------
PULLMAN -- $23,526,574
PULLMAN -- 207957.5344827586%
Leslie Smith -- $198,833.33333333334
------------
SOUTH DEERING -- $19,693,696
SOUTH DEERING -- 170358.16393442624%
Carlos Sanchez -- $272,500.0
------------
EAST SIDE -- $50,065,000
EAST SIDE -- 235621.88841201717%
Carlos Sanchez -- $254,468.42105263157
------------
WEST PULLMAN -- $89,219,162
WEST PULLMAN -- 199841.95132743364%
Frank Montro -- $158,485.7142857143
------------
RIVERDALE -- $670,000
RIVERDALE -- 130000.0%
Adrian Jackson -- $110,000.0
------------
HEGEWISCH -- $33,603,472
HEGEWISCH -- 239615.24832214764%
Carlos Sanchez -- $262,400.0
------------
GARFIELD RIDGE -- $206,096,004
GARFIELD RIDGE -- 339952.6982055465%
Al Cacciottolo -- $327,857.14285714284
------------
ARCHER HEIGHTS -- $40,332,400
ARCHER HEIGHTS -- 324940.625%
Gaspar Flores -- $420,000.0
------------
BRIGHTON PARK -- $86,664,777
BRIGHTON PARK -- 306422.2169491525%
QianKun Chen -- $339,070.63636363635
------------
BRIDGEPORT -- $221,987,066
BRIDGEPORT -- 553050.6425120773%
QianKun Chen -- $410,347.0588235294
------------
NEW CITY -- $103,523,402
NEW CITY -- 265499.2493702771%
Erica Esquivel -- $313,300.0
------------
WEST ELSDON -- $58,267,908
WEST ELSDON -- 293450.0396039604%
Eliseo Guzman -- $252,250.0
------------
GAGE PARK -- $52,755,598
GAGE PARK -- 293183.5%
Maria Castillo -- $393,816.6666666667
------------
CLEARING -- $115,392,500
CLEARING -- 281404.8076923077%
Uriel Ayala -- $208,987.5
------------
WEST LAWN -- $80,315,514
WEST LAWN -- 291690.7642857143%
Maria Castillo -- $271,580.0
------------
CHICAGO LAWN -- $129,738,674
CHICAGO LAWN -- 274570.7536231884%
Andres Olaez -- $287,900.0
------------
WEST ENGLEWOOD -- $97,988,440
WEST ENGLEWOOD -- 221177.14922048998%
Andres Olaez -- $220,016.66666666666
------------
ENGLEWOOD -- $75,052,162
ENGLEWOOD -- 249767.74098360655%
Amanda Stapleton -- $281,749.75
------------
GREATER GRAND CROSSING -- $98,431,154
GREATER GRAND CROSSING -- 268454.7150537634%
Frank Montro -- $239,000.0
------------
LINCOLN PARK -- $2,290,224,091
LINCOLN PARK -- 902385.5289909638%
ESW Chicago -- $1,690,664.6666666667
------------
ASHBURN -- $167,208,312
ASHBURN -- 271222.985645933%
Salvador Gonzalez -- $316,500.0
------------
AUBURN GRESHAM -- $155,431,867
AUBURN GRESHAM -- 244743.6302652106%
Frank Montro -- $289,760.0
------------
BEVERLY -- $153,025,205
BEVERLY -- 408680.0128205128%
Nancy Hotchkiss -- $530,000.0
------------
WASHINGTON HEIGHTS -- $105,585,046
WASHINGTON HEIGHTS -- 228211.21822033898%
Frank Montro -- $236,738.77777777778
------------
MOUNT GREENWOOD -- $116,233,416
MOUNT GREENWOOD -- 324305.8779840849%
Meghan Healy -- $354,700.0
------------
MORGAN PARK -- $105,156,522
MORGAN PARK -- 272246.8911392405%
Mary Fitzpatrick Duleba -- $297,625.0
------------
OHARE -- $70,139,688
OHARE -- 305671.0689655172%
Chabane Bounab -- $194,000.0
------------
EDGEWATER -- $577,958,819
EDGEWATER -- 382828.1662286465%
Margaret Dralyuk -- $196,068.75
------------
EDISON PARK -- $130,212,912
EDISON PARK -- 457264.0134680135%
Dan Kieres -- $466,208.3333333333
------------

In [93]:
base_name = 'https://trd-digital.github.io/trd-news-interactive-maps/'

cwd = os.getcwd()

cwd = cwd.split('/')

final_name = base_name + cwd[-1]
print(final_name)

https://trd-digital.github.io/trd-news-interactive-maps/CookCountyBrokersNeighborhoods_12_4_2024

In [94]:
# df_geo.to_csv("backup_geocoded_csv.csv")